In [42]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import glob
import geopandas as gpd
import cartopy.feature as cfeature
from datetime import datetime, timedelta
from cartopy import crs as ccrs
from shapely import geometry

The ground truth data was manually collected for selected sample area by analysing the satellite images from 

* TERRA
* AQUA
* NPP
* Sentinel
* Planet

In [97]:
data_dir = '../../references/ground_truth/raw/'
file_list = ['1HSep2019_groundtruth.shp', '2HSep2019_groundtruth.shp', 'April2019_groundtruth.shp']
file_list = [data_dir + i for i in file_list]
hs_pdf = pd.concat([gpd.read_file(file) for file in file_list], ignore_index=True)

In [45]:
#convert to geopandas DataFrame
ground_truth_df = gpd.GeoDataFrame(hs_pdf, crs=gpd.read_file(file_list[0]).crs)

In [46]:
ground_truth_df['lat'] = ground_truth_df.geometry.y
ground_truth_df['lon'] = ground_truth_df.geometry.x

In [47]:
ground_truth_df.rename(columns={"Date": "datestamp"}, inplace=True)

In [75]:
#clean up 'datastamp' field
print (ground_truth_df['datestamp'].unique())
error_mapping = {'2019/09/18v': '2019/09/18', 
                 'NULL2019/04/24': '2019/04/24', 
                 'NULL2019/04/23': '2019/04/23', 
                 '2019/04/03\n': '2019/04/03'}
for key, value in error_mapping.items():
    ground_truth_df.loc[ground_truth_df.datestamp == key, 'datestamp'] = value

['2019/09/01' '2019/09/02' '2019/09/03' '2019/09/04' '2019/09/05'
 '2019/09/06' '2019/09/07' '2019/09/08' '2019/09/09' '2019/09/10'
 '2019/09/11' '2019/09/12' '2019/09/13' '2019/09/14' '2019/09/15'
 '2019/09/30' '2019/09/29' '2019/09/28' '2019/09/27' '2019/09/26'
 '2019/09/25' '2019/09/24' '2019/09/23' '2019/09/22' '2019/09/21'
 '2019/09/20' '2019/09/19' '2019/09/18' '2019/09/17' '2019/09/16'
 '2019/04/01' '2019/04/02' '2019/04/03' '2019/04/04' '2019/04/05'
 '2019/04/06' '2019/04/07' '2019/04/08' '2019/04/09' '2019/04/10'
 '2019/04/11' '2019/04/12' '2019/04/13' '2019/04/14' '2019/04/15'
 '2019/04/16' '2019/04/17' '2019/04/18' '2019/04/19' '2019/04/20'
 '2019/04/21' '2019/04/22' '2019/04/23' '2019/04/24' '2019/04/25'
 '2019/04/26' '2019/04/27' '2019/04/28' '2019/04/29' '2019/04/30']

In [90]:
#after cleaning up, check all unique entries fit with format
import re
pattern = '2019/[0-1]\d/[0-3]\d'
for entry in ground_truth_df['datestamp'].unique():
    try: 
        assert bool(re.match(pattern, entry))
    except:
        print ('Error encountered!')

The below is not necessary, but more for legacy handling as some ground truth data may have dates that span across multiple days.

In [91]:
ground_truth_df['startdate'] = '0'
ground_truth_df['enddate'] = ground_truth_df['datestamp']

for index, row in ground_truth_df.iterrows():
    end_day = int(row['enddate'].split('/')[2])
    end_month = int(row['enddate'].split('/')[1])
    end_year = int(row['enddate'].split('/')[0])
    ground_truth_df.loc[index, 'end_date'] = datetime(end_year, end_month, end_day)
            
    if row['startdate'] == '0':
        ground_truth_df.loc[index, 'start_date'] = datetime(end_year, end_month, end_day)
    else:
        ground_truth_df.loc[index, 'start_date'] = datetime(end_year, start_month, start_day)

In [92]:
ground_truth_df['period'] = ground_truth_df['end_date'] - ground_truth_df['start_date']

In [93]:
ground_truth_gjson = ground_truth_df.copy()
ground_truth_gjson

,datestamp,geometry,lat,lon,startdate,enddate,end_date,start_date,period
0,2019/09/01,POINT (102.15084 0.42880),0.428803,102.150839,0,2019/09/01,2019-09-01,2019-09-01,0 days
1,2019/09/01,POINT (102.15204 0.42568),0.425679,102.152041,0,2019/09/01,2019-09-01,2019-09-01,0 days
2,2019/09/01,POINT (102.40703 -0.12635),-0.126350,102.407027,0,2019/09/01,2019-09-01,2019-09-01,0 days
3,2019/09/01,POINT (102.39958 -0.12563),-0.125629,102.399577,0,2019/09/01,2019-09-01,2019-09-01,0 days
4,2019/09/01,POINT (102.41183 -0.12611),-0.126109,102.411833,0,2019/09/01,2019-09-01,2019-09-01,0 days
5,2019/09/01,POINT (102.49859 0.88686),0.886864,102.498591,0,2019/09/01,2019-09-01,2019-09-01,0 days
6,2019/09/01,POINT (102.61154 -0.36307),-0.363071,102.611544,0,2019/09/01,2019-09-01,2019-09-01,0 days
7,2019/09/01,POINT (102.65576 -0.39576),-0.395755,102.655764,0,2019/09/01,2019-09-01,2019-09-01,0 days
8,2019/09/01,POINT (103.94026 -1.25146),-1.251460,103.940258,0,2019/09/01,2019-09-01,2019-09-01,0 days
9,2019/09/01,POINT (103.98770 -1.28780),-1.287797,103.987699,0,2019/09/01,2019-09-01,2019-09-01,0 days
10,2019/09/01,POINT (104.00183 -1.25953),-1.259534,104.001830,0,2019/09/01,2019-09-01,2019-09-01,0 days
11,2019/09/01,POINT (104.00385 -1.29234),-1.292339,104.003848,0,2019/09/01,2019-09-01,2019-09-01,0 days
12,2019/09/01,POINT (104.01949 -1.27518),-1.275180,104.019494,0,2019/09/01,2019-09-01,2019-09-01,0 days
13,2019/09/01,POINT (104.02656 -1.30344),-1.303442,104.026559,0,2019/09/01,2019-09-01,2019-09-01,0 days
14,2019/09/01,POINT (104.04170 -1.30092),-1.300919,104.041700,0,2019/09/01,2019-09-01,2019-09-01,0 days
15,2019/09/01,POINT (104.13355 -1.28931),-1.289311,104.133552,0,2019/09/01,2019-09-01,2019-09-01,0 days
16,2019/09/01,POINT (104.05028 -1.57168),-1.571682,104.050279,0,2019/09/01,2019-09-01,2019-09-01,0 days
17,2019/09/01,POINT (104.05608 -1.56335),-1.563355,104.056083,0,2019/09/01,2019-09-01,2019-09-01,0 days
18,2019/09/01,POINT (103.42195 -1.09274),-1.092736,103.421947,0,2019/09/01,2019-09-01,2019-09-01,0 days
19,2019/09/01,POINT (103.41741 -1.08618),-1.086175,103.417405,0,2019/09/01,2019-09-01,2019-09-01,0 days
20,2019/09/01,POINT (111.83406 -3.28859),-3.288590,111.834056,0,2019/09/01,2019-09-01,2019-09-01,0 days
21,2019/09/01,POINT (111.84247 -3.29353),-3.293528,111.842471,0,2019/09/01,2019-09-01,2019-09-01,0 days
22,2019/09/01,POINT (111.84817 -3.29534),-3.295337,111.848175,0,2019/09/01,2019-09-01,2019-09-01,0 days
23,2019/09/01,POINT (111.84706 -3.30382),-3.303822,111.847062,0,2019/09/01,2019-09-01,2019-09-01,0 days
24,2019/09/01,POINT (111.85367 -3.30125),-3.301249,111.853669,0,2019/09/01,2019-09-01,2019-09-01,0 days
25,2019/09/01,POINT (111.82209 -3.30758),-3.307578,111.822093,0,2019/09/01,2019-09-01,2019-09-01,0 days
26,2019/09/01,POINT (111.82870 -3.28643),-3.286434,111.828700,0,2019/09/01,2019-09-01,2019-09-01,0 days
27,2019/09/01,POINT (111.82717 -3.28852),-3.288521,111.827170,0,2019/09/01,2019-09-01,2019-09-01,0 days
28,2019/09/01,POINT (111.85047 -3.33797),-3.337972,111.850470,0,2019/09/01,2019-09-01,2019-09-01,0 days
29,2019/09/01,POINT (111.83677 -3.39097),-3.390971,111.836768,0,2019/09/01,2019-09-01,2019-09-01,0 days
...,...,...,...,...,...,...,...,...,...
13959,2019/04/30,POINT (100.20826 16.41249),16.412491,100.208256,0,2019/04/30,2019-04-30,2019-04-30,0 days
13960,2019/04/30,POINT (99.85888 16.41621),16.416208,99.858883,0,2019/04/30,2019-04-30,2019-04-30,0 days
13961,2019/04/30,POINT (100.29932 16.52028),16.520276,100.299316,0,2019/04/30,2019-04-30,2019-04-30,0 days
13962,2019/04/30,POINT (100.26401 16.57231),16.572311,100.264007,0,2019/04/30,2019-04-30,2019-04-30,0 days
13963,2019/04/30,POINT (100.10419 15.71932),15.719321,100.104188,0,2019/04/30,2019-04-30,2019-04-30,0 days
13964,2019/04/30,POINT (99.67119 15.82153),15.821531,99.671188,0,2019/04/30,2019-04-30,2019-04-30,0 days
13965,2019/04/30,POINT (99.64145 15.84941),15.849406,99.641455,0,2019/04/30,2019-04-30,2019-04-30,0 days
13966,2019/04/30,POINT (99.61358 15.87171),15.871707,99.613579,0,2019/04/30,2019-04-30,2019-04-30,0 days
13967,2019/04/30,POINT (99.92764 15.82339),15.823389,99.927643,0,2019/04/30,2019-04-30,2019-04-30,0 days
13968,2019/04/30,POINT (99.94994 16.07799),16.077985,99.949943,0,2019/04/30,2019-04-30,2019-04-30,0 days
13969,2019/04/30,POINT (99.90163 16.05383),16.053827,99.901626,0,2019/04/30,2019-04-30,2019-04-30,0 days
13970,2019/04/30,POINT (100.33277 16.13559),16.135595,100.332767,0,2019/04/30,2019-04-30,2019-04-30,0 days
13971,2019/04/30,POINT (100.11162 16.01294),16.012942,100.111621,0,2019/04/30,2019-04-30,2019-04-30,0 days
13972,2019/04/30,POINT (100.14879 16.03153),16.031526,100.148788,0,2019/04/30,2019-04-30,2019-04-30,0 days
13973,2019/04/30,POINT (100.23427 16.16161),16.161612,100.234273,0,2019/04/30,2019-04-30,2019-04-30,0 days
13974,2019/04/30,POINT (100.15251 16.09657),16.096569,100.152505,0,2019/04/30,2019-04-30,2019-04-30,0 days
13975,2019/04/30,POINT (100.20640 16.09285),16.092852,100.206398,0,2019/04/30,2019-04-30,2019-04-30,0 days
13976,2019/04/30,POINT (99.90163 15.94790),15.947900,99.901626,0,2019/04/30,2019-04-30,2019-04-30,0 days
13977,2019/04/30,POINT (100.35693 15.71746),15.717462,100.356925,0,2019/04/30,2019-04-30,2019-04-30,0 days
13978,2019/04/30,POINT (100.29188 16.66151),16.661512,100.291883,0,2019/04/30,2019-04-30,2019-04-30,0 days
13979,2019/04/30,POINT (100.04100 16.02967),16.029668,100.041003,0,2019/04/30,2019-04-30,2019-04-30,0 days
13980,2019/04/30,POINT (100.37551 16.78602),16.786023,100.375509,0,2019/04/30,2019-04-30,2019-04-30,0 days
13981,2019/04/30,POINT (100.42383 16.04268),16.042676,100.423827,0,2019/04/30,2019-04-30,2019-04-30,0 days
13982,2019/04/30,POINT (99.62846 16.68653),16.686527,99.628464,0,2019/04/30,2019-04-30,2019-04-30,0 days
13983,2019/04/30,POINT (100.32683 16.21452),16.214515,100.326826,0,2019/04/30,2019-04-30,2019-04-30,0 days
13984,2019/04/30,POINT (100.29786 16.17161),16.171605,100.297862,0,2019/04/30,2019-04-30,2019-04-30,0 days
13985,2019/04/30,POINT (100.13051 16.27244),16.272444,100.130513,0,2019/04/30,2019-04-30,2019-04-30,0 days
13986,2019/04/30,POINT (99.59843 17.61017),17.610166,99.598427,0,2019/04/30,2019-04-30,2019-04-30,0 days
13987,2019/04/30,POINT (100.22974 17.01157),17.011571,100.229742,0,2019/04/30,2019-04-30,2019-04-30,0 days
13988,2019/04/30,POINT (99.74299 18.30551),18.305505,99.742993,0,2019/04/30,2019-04-30,2019-04-30,0 days

In [94]:
ground_truth_gjson = ground_truth_gjson.to_crs({'init': 'epsg:3857'})
ground_truth_gjson.drop(columns=['startdate', 'enddate'], inplace=True)

In [96]:
ground_truth_gjson.to_csv('../../references/ground_truth/processed/daily_ground_truth_Apr_Sep_2019.csv')